<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>NestJS Keycloak Example</title>
  </head>
  <body>
    <div style="display:flex;justify-content:center;padding-top:10vh">
      <div>
        <h1>NestJS Keycloak Example</h1>
        <form action="?redirect=/count" method="POST">
          <div style="padding-bottom:20px">
            <div>
              <label for="username">Username:</label>
            </div>
            <div>
              <input type="text" id="username" name="username">
            </div>
          </div>
          <div style="padding-bottom:20px">
            <div>
              <label for="password">Password:</label>
            </div>
            <div>
              <input type="password" id="password" name="password">
            </div>
          </div>
          <div>
            <div>
              <input type="submit" value="Submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
